@keyframes growStrip {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* The typing effect */
@keyframes typing-home {
  from {
    width: 0;
  }
  to {
    width: 19%;
  }
}
/* The typing effect  */
@keyframes typing-part {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
/* The typing effect */
@keyframes typing-options {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #2761cc;
  }
}

.home-display,
.navbar,
.side-bar,
.form-select,
.form-control {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  /* overflow: hidden; */
}

li {
  list-style-type: none;
}
button {
  width: 100px;
}

canvas {
  height: 100%;
}

form,
.form-select:focus,
.form-control:focus,
#form-select:focus,
.form-select-lg:focus,
.angle-btn,
.angle-btn:focus {
  border-color: #2761cc;
  box-shadow: none;
}

.btn,
.form-select,
.form-control,
#form-select,
.form-select-lg {
  border-radius: 30px;
}
.form-select:hover,
.form-control:hover {
  border-color: #2761cc;
}

.navbar {
  border-bottom: 1px solid #bbbbbb;
}
.blue-strip {
  transition: 500ms;
  animation: growStrip 0.5s ease-in forwards;
  width: 0%;
  height: 4px;
  background-color: #2761cc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.blue-period {
  font-size: 100px;
  color: #2761cc;
}

.content {
  display: flex;
}

.side-bar {
  width: 280px;
  height: 100vh;
}

.home-title,
.part-display-title,
.machine-display-title,
.stats-display-title {
  float: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}
.home-title {
  letter-spacing: 0.15em; /* Adjust as needed */
  /* animation: typing-home 0.7s steps(8, end) forwards,
    blink-caret 0.75s step-end infinite; */
}
.part-display-title {
  letter-spacing: 0.12em; /* Adjust as needed */
  /* animation: typing-part 0.8s steps(12, end) forwards,
    blink-caret 0.75s step-end infinite; */
}
.machine-display-title {
  letter-spacing: 0.12em; /* Adjust as needed */
  /* animation: typing-machine 0.9s steps(15, end) forwards,
    blink-caret 0.75s step-end infinite; */
}

.home-display {
  display: flex;
  flex-direction: column;
}
@media (-webkit-device-pixel-ratio: 1.25) {
  .home-display-inner {
    margin-top: 50px;
    height: 75%;
  }
}
@media (-webkit-device-pixel-ratio: 1) {
  .home-display-inner {
    margin-top: 69px;
    height: 75%;
  }
}
.home-jumbo {
  height: 100%;
}

.PartDisplay,
.DailyDisplay,
.MachineDisplay,
.OptionsDisplay,
.StatsDisplay {
  margin-top: 0;
  padding: 0rem, 0rem;
  width: 95%;
}

.data-display {
  margin-left: 52px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  background-color: #e9ecef margin;
}
.metrics {
  display: flex;
  justify-content: center;
}
.part-info,
.machine-info,
.stats-info {
  display: flex;
  justify-content: center;
  text-align: center;
}
.charts {
  width: 100%;
  display: flex;
  justify-content: center;
}

.line-graph {
  height: 100%;
  width: 100%;
}

.scatter-graph {
  height: 50%;
  width: 50%;
}

/* silfex position plot background image */
/* .scatter-graph {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./img/silfex_disc.png");
} */

.drag-drop-area {
  height: 100%;
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: 24px;
  color: #555555;
  border: 2px #c3c3c3 dashed;
  border-radius: 12px;
}
.top-drag-drop-area {
  width: 95%;
  height: 100%;
}
.side-drag-drop-area {
  font-size: 24px;
  color: #555555;
  border: 2px #c3c3c3 dashed;
  border-radius: 12px;
  height: 100%;
}

.linegraph-and-buttons {
  height: 100%;
  width: 90%;
  padding-left: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
@media (-webkit-device-pixel-ratio: 1) {
  .linegraph-and-buttons {
    height: 100%;
    width: 90%;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }
}
@media (-webkit-device-pixel-ratio: 1) {
  .linegraph-and-buttons {
    height: 90%;
    width: 90%;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }
}

.line-metric-selector {
  display: flex;
  justify-content: center;
}

.linegraph-params {
  display: flex;
  flex-direction: row;
  width: 43%;
  gap: 20px;
}

.version {
  font-weight: 350;
}
.version-num {
  color: #2761cc;
}

.metric-buttons {
  width: 18%;
}

.part-jumbotron,
#part-title {
  height: 15%;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0.3rem;
}
.machine-jumbotron,
#machine-title {
  padding: 0;
  text-align: center;
}
.stats-jumbotron,
#stats-title {
  padding: 0;
  text-align: center;
}

.carousel {
  height: 62%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232761cc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232761cc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Add an extra .carousel parent class to increase specificity
   avoiding the use of !important flag. */
.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgb(39, 97, 204, 0.4);
}

.carousel .carousel-indicators .active {
  background-color: #2761cc;
}

.carousel-control-prev {
  margin-left: 24px;
}
.carousel-control-next {
  margin-right: -30px;
}
.carousel-control {
  height: 75%;
  margin-top: 250px;
}

.card {
  border-width: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.highlight-tables {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10px;
}

.c-side-highlight-table,
.a-side-highlight-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #e9ecef;
  border: #555555;
  border-width: 2px;
  border-radius: 12px;
  padding: 10px;
}

.c-side-highlights,
.a-side-highlights {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 10px;
}

.c-dia-highlights,
.c-pos-highlights,
.a-dia-highlights,
.a-pos-highlights,
.c-avg-highlights,
.a-avg-highlights {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.c-max-dia-light,
.c-max-pos-light,
.c-min-dia-light,
.c-min-pos-light {
  width: 100%;
  height: 100%;
}

.machine-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boxplots {
  height: 100%;
  width: 100%;
}

.machine-param-selectors {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-check {
  display: flex;
  margin-left: 10px;
}

.side-buttons,
.metric-buttons,
.machine-metric-toggles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxplots-and-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 15px;
  gap: 50px;
}

.machine-dropdown-and-date {
  display: flex;
  flex-direction: column;
}

.date-input {
  border-color: #d6d6d6;
  border-radius: 2px;
  border-width: 1px;
}

.loading-spinners {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.part-params {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.overview-jumbotron,
#overview-title {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.overview-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.overview-boxplots {
  height: 100%;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}

.overview-content,
.overview-display,
.OverviewDisplay {
  height: 85%;
  width: 99%;
  margin: 0;
}

.jumbotron {
  margin-bottom: 1em;
  background-color: rgb(236, 237, 238);
  border-radius: 10px;
}
.boxplot-all,
.boxplot {
  height: 100%;
}

.MachineDisplay,
.machine-display,
.machine-content {
  height: 100%;
}

.line-graph {
  margin-bottom: 50px;
}

.next-group-arrow,
.prev-group-arrow {
  width: 60%;
}
.next-group-arrow:hover,
.prev-group-arrow:hover {
  fill: #2761cc;
}
.prev-machgroup-button {
  display: flex;
  justify-content: right;
  vertical-align: top;
  justify-items: right;
  margin-bottom: 19px;
}

#carousel-example-generic .carousel-control {
  height: 26%;
  top: 33%;
  width: 86px;
  background: black;
}

.stats-totals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 25px;
}

.totals-column,
.parttype-column {
  width: 50%;
}

.parttype-column:hover {
  border-style: solid;
  border-color: grey;
  border-width: 0.5px;
  border-radius: 10px;
}

.pie-chart {
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doughnut {
  width: 50%;
}

.stats-time-period {
  display: flex;
  justify-content: center;
}

.stats-time-period {
  margin-top: -25px;
  margin-bottom: 25px;
}

.stats-totals {
  margin-left: -5px;
}

.angle-btn-and-points {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.angle-btn,
#angle-btn {
  border-radius: 30px;
  width: 150px;
}

.angle-text {
  font-weight: 500;
}

.btn-text {
  display: flex;
  text-align: center;
  justify-content: center;
}

#list-linegraph-params,
.list-linegraph-params {
  width: 100%;
}

.run-list-main {
  height: 100%;
}

table {
  text-align: left;
  position: relative;
}
thead {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 1px 0px #000, 0 1px #000;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

tbody {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
}
tbody {
  height: 100%;
  overflow: auto;
  text-align: center;
}

/* refers to screen size 125% */
@media (-webkit-device-pixel-ratio: 1.25) {
  #list-content,
  .list-content {
    display: flex;
    flex-direction: row;
    height: 62.5%;
    gap: 100px;
  }
  #table-responsive,
  .table-responsive,
  .run-list-table {
    margin-top: 15px;
    width: 32%;
  }
  /* run list scroll bar styles */
  .table-responsive::-webkit-scrollbar {
    width: 16px;
  }
  .table-responsive::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .table-responsive::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: grey;
    background-clip: content-box;
  }
  .run-list-charts {
    height: 100%;
    width: 60%;
    overflow: auto;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  }
  /* run list charts scrollbar styling */
  .run-list-charts::-webkit-scrollbar {
    width: 16px;
  }
  .run-list-charts::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .run-list-charts::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: grey;
    background-clip: content-box;
  }
  .run-line {
    height: 95%;
    margin-right: 25px;
  }
  .run-scatter {
    margin-left: 185px;
    height: 55%;
    width: 55%;
  }
  .table-headers {
    display: flex;
    justify-content: flex-start;
    margin-left: 33px;
    gap: 27px;
  }

  /* table flip functionality */
  /* .flip-wrapper {
    perspective: 1000px;
    background-color: transparent;
  }
  .flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .flip-wrapper:hover,
  .flip-inner {
    transform: rotateY(180deg);
  }
  .flip-front,
  .flip-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-back {
    transform: rotateY(180deg);
  } */
}

.list-params {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
}

/* refers to screen size 100% */
@media (-webkit-device-pixel-ratio: 1) {
  #list-content,
  .list-content {
    display: flex;
    flex-direction: row;
    height: 70%;
    gap: 100px;
  }
  #table-responsive,
  .table-responsive,
  .run-list-table {
    margin-top: 15px;
    width: 24.5%;
  }
  /* run list scroll bar styles */
  .table-responsive::-webkit-scrollbar {
    width: 16px;
  }
  .table-responsive::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .table-responsive::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: grey;
    background-clip: content-box;
  }
  .run-list-charts {
    height: 100%;
    width: 60%;
    overflow: auto;
    align-items: center;
    align-content: center;
    margin-left: 125px;
    margin-top: 20px;
  }
  /* run list charts scrollbar styling */
  .run-list-charts::-webkit-scrollbar {
    width: 16px;
  }
  .run-list-charts::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .run-list-charts::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: grey;
    background-clip: content-box;
  }
  .run-line {
    height: 83%;
    margin-right: 25px;
  }
  .run-scatter {
    margin-left: 135px;
    height: 65%;
    width: 65%;
  }
  .table-headers {
    display: flex;
    justify-content: flex-start;
    margin-left: 29px;
    gap: 23px;
  }
}

.mach-select {
  width: 19%;
}

.graph-placeholder {
  margin-top: 20px;
}

.menu-items {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.menu-button:hover {
  fill: #2761cc;
}

.list-display,
.list-display-sum {
  width: 97%;
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .part-graphs {
    height: 100%;
    width: 85%;
    margin-left: 101px;
  }
}
@media (-webkit-device-pixel-ratio: 1) {
  .part-graphs {
    height: 100%;
    width: 95%;
    margin-left: 67px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .demo-line-inner {
    height: 50%;
  }
  .demo-line {
    height: 100%;
    width: 100%;
    margin-top: -101px;
  }
}
@media (-webkit-device-pixel-ratio: 1) {
  .demo-line-inner {
    height: 60%;
  }
  .demo-line {
    height: 100%;
    width: 100%;
    margin-top: -128px;
  }
}
